<section class="header">
    <div class="logo-container">
        <a ng-href="/" class="logoLink"  ng-click="menuClose()">
            <div class="logo-wrapper">
                <div class="logo">
                    <img src="img/logo-name.svg">
                </div>
            </div>
        </a>
    </div>
    <div class="nav-wrapper closed">
        <ul class="nav">
            <li><a ng-href="portfolio" ng-click="animateMenu()" class="menu-portfolio">Portfolio</a></li>
            <li><a ng-href="photography" ng-click="animateMenu()" class="menu-photography">Photography</a></li>
            <li><a ng-href="contact" ng-click="animateMenu(); animateContact()" class="menu-contact">Contact</a></li>
            <!-- Still need to make scroll to bottom -->
        </ul>
    </div>
    <div class="nav-mobile-btn" ng-click="animateMenu()">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
    </div>
</section>