$black: rgba(0, 0, 0, 1);
$slate: rgba(64, 64, 64, 1);
$blue: rgba(0, 157, 225, 1);
$darkBlue: rgba(0, 88, 119, 1);
$orange: rgba(244, 121, 32, 1);
$white: rgba(255, 255, 255, 1);

$validation-red: rgba(231, 76, 80, 1);
$validation-green: rgba(46, 204, 113, 1);
$validation-orange: rgba(255, 151, 30, 1);
$validation-warning: rgba(185, 74, 72, 1);
$validation-waring-light: rgba(242, 222, 222, 1);
$validation-green-light: rgba(223, 240, 216, 1);

@each $colorname, $colorcode in

                ("black", $black),
                ("white", $white)

{
    .#{$colorname}--txt {
        color: #{$colorcode};
    }
    .#{$colorname}--bg {
        background-color: #{$colorcode};
    }
}