.about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    max-width: 100%;
    .about-title-container {
        display: flex;
        justify-content: center;
        background: $white;
        width: 260px;
        height: 67px;
        padding: 3px 0;
        margin-top: -33px;
        z-index: 1;
        .about-title {
            width: 254px;
            background: $slate;
            padding: 10px 15px;
            .title-name {
                color: $white;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: .5rem;
                margin: 0 0 4px 0;
                text-align: center;
            }
            .title-bar {
                width: 100%;
                height: 2px;
                background: $white;
            }
            .title-job {
                color: $white;
                font-size: 13px;
                letter-spacing: .05rem;
                margin: 8px 0 0 0;
                font-style: italic;
                text-align: center;
            }
        }
        @media only screen and (min-width: $phablet) {
            width: 300px;
            height: 76px;
            margin-top: -39px;
            .about-title {
                width: 294px;
                .title-name {
                    font-size: 18px;
                }
                .title-job {
                    font-size: 16px;
                }
            }
        }
    }

    .about-bg {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        z-index: 3;
        background: url(../../img/bg-about.jpg) no-repeat;
        background-size: cover;

        .about-wraper {
            width: 95vw;
            background: rgba(64, 64, 64, .8);
            padding: 30px;
            margin: 30px 0 50px 0;
            @media screen and (min-width: $tablet-breakpoint) {
                width: 75vw;
            }
            @media screen and (min-width: $hd-breakpoint) {
                width: 66vw;
            }
            .about-img-container {
                text-align: center;
                .about-img {
                    max-width: 240px;
                    width: 100%;
                }
            }
            .about-social-container {
                display: flex;
                justify-content: center;
                padding: 15px 0 30px 0;
                .social-menu {
                    display: flex;
                    justify-content: center;
                    width: 240px;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    .social-item {
                        height: 60px;
                        width: 100%;
                        border: 1px solid #989898;
                        color: $white;
                        position: relative;
                        overflow: hidden;
                        &::after {
                            position: absolute;
                            content: "";
                            top: 100%;
                            width: 100%;
                            height: 100%;
                            background-color: $white;
                            transition: top .4s cubic-bezier(1, 0, 0.58, 1);
                        }
                        &:first-child {
                            border-right: none;
                        }
                        &:nth-child(2) {
                            border-right: none;
                        }
                        &:nth-child(3) {
                            border-right: none;
                        }
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            z-index: 1;
                            font-size: 20px;
                            color: $white;
                            height: 100%;
                            width: 100%;
                            text-decoration: none !important;
                            transition: color .4s cubic-bezier(1, 0, 0.58, 1);
                        }
                        &.linkedin {
                            //background-color: rgba(14, 118, 168, 1);
                        }
                        &.instagram {
                            //background-color: rgba(233, 89, 80, 1);
                        }
                        &.dribbble {
                            //background-color: rgba(234, 76, 137, 1);
                        }
                        &.behance {
                            //background-color: rgba(75, 75, 75, 1);
                        }
                        &:hover {
                            &::after {
                                top: 0;
                                transition: top .4s cubic-bezier(1, 0, 0.58, 1);
                            }
                            a {
                                color: $black;
                                transition: color .4s cubic-bezier(1, 0, 0.58, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}