body {
    /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
    -webkit-backface-visibility: hidden;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

//  Shake
@keyframes shake {
    0%, 100% {
        transfrom: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.shake {
    animation-name: shake;
}