.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: $white;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: $white;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}


.input--haruki {
    margin: 1.5em 1em 1.5em;
    &.first {
        margin: 1.5em 1em 1.5em;
    }
    @media screen and (max-height: 700px){
        margin: 2em 1em 0;
        &.first {
            margin: 1.25em 1em 0;
        }
    }
    &.error label::before, &.error label::after {
        background: $validation-red;
    }
}

.input__field--haruki {
    width: 100%;
    background: transparent;
    color: $white;
    font-size: 1.55em;
    padding: 0.8em 0.25em; // 0.4em 0.25em original
    @media screen and (max-height: 700px){
        padding: 0.4em 0.25em;
    }

}

.input__label--haruki {
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
}

.input__label-content--haruki {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    @media screen and (min-height: 700px){
        font-size: 12px;  // added this to make font larger
    }
}

.input__label--haruki::before,
.input__label--haruki::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 4px;
    background: $white;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--haruki::before {
    top: 0;
}

.input__label--haruki::after {
    bottom: 0;
}

.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
    -webkit-transform: translate3d(0, -90%, 0);
    transform: translate3d(0, -90%, 0);
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
    -webkit-transform: translate3d(0, -0.5em, 0);
    transform: translate3d(0, -0.5em, 0);
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
    -webkit-transform: translate3d(0, 0.5em, 0);
    transform: translate3d(0, 0.5em, 0);
}
.input-container {
    margin: 2em 1em 0;
    max-width: 350px;
    width: calc(100% - 2em);
    @media screen and (min-height: 700px){
        margin: 1.5rem 0;
    }
    select {
        appearance: none;
        -ms-appearance: none; // not sure this one is needed but it is there just incase
        -moz-appearance: none;
        -webkit-appearance: none;
        border-radius: 0;
        outline: none;
        background: transparent;
        border: none;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        width: 100%;
        padding: 8px 0;
        color: white;
        text-indent: 1rem;
        //margin: 1.5rem 0;
        font-size: 12px;
        height: 52px;
        @media screen and (max-height: 700px){
            height: 37px;
            font-size: 9px;
        }
        &.error {
            border-color: $validation-red;
        }
        option {
            color: #000;
        }
    }
}
