body {
    font: 12px "Avenir Next", sans-serif;
    overflow-x: hidden;
}

p {
    color: $white;
    font-size: 15px;
    line-height: 1.55;
    letter-spacing: .04rem;
    margin-bottom: 15px;
}

h1, .h1 {
    color: $white;
    text-transform: uppercase;
    @media screen and (min-width: $hd-breakpoint) {
        font-size: 45px;
    }
}

h2, .h2 {
    color: $orange;
    text-transform: uppercase;
    @media screen and (min-width: $hd-breakpoint) {
        font-size: 36px;
    }
}

h3, .h3 {
    color: $blue;
}