body {
    font: 12px "Avenir Next", sans-serif;
}

p {
    color: $white;
}

h1, .h1 {
    color: $white;
    text-transform: uppercase;
    @media screen and (min-width: 1140px) {
        font-size: 45px;
    }
}

h2, .h2 {
    color: $orange;
    text-transform: uppercase;
    @media screen and (min-width: 1140px) {
        font-size: 36px;
    }
}

h3, .h3 {
    color: $blue;
}