.photo-view {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw; // 4px is for the border on windows? removing it for now calc(100vw - 4px)
    height: 100vh; // 4px is for the border on windows? removing it for now calc(100vw - 4px)
    //background: url("images/5.jpg") center top #404040;
    background-size: cover;
    border: 2px solid #404040;
    z-index: 13;
    transition: top ease-out 1s;
    transition: none;
    &.show {
        display: block;
    }
    &.easeout {
        top: -100vh !important;
        transition: top ease-out 1s;
    }

    .photo-description {
        position: absolute;
        bottom: 0;
        left: -120vw;
        height: 100px;
        width: 100%;
        background-color: rgb(50, 50, 50);
        transition: left 1.25s ease-in-out;
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        &.show {
            left: 0;
            transition: left 1.25s ease-in-out;
        }
        h2 {
            color: white;
            font-family: sans-serif;
            font-size: 22px;
            @media screen and (min-width: $desktop-breakpoint) {
                font-size: 30px;
            }
        }
        .view-instagram {
            font-family: "Avenir Next Demi";
            border: 2px solid white;
            padding: 6px 12px;
            font-size: 15px;
            color: white;
            background-color: transparent;
            border-radius: 0;
            @media screen and (min-width: $desktop-breakpoint) {
                padding: 10px 16px;
                font-size: 18px;
            }
            &:hover {
                color: #009cea;
                border-color: #009cea;
            }
        }
    }
    .close-btn {
        position: absolute;
        top: 140px;
        right: -50px;
        background: #888888;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        cursor: pointer;
        transition: right 1.5s ease-in-out, transform 1.5s ease-in-out;
        display: flex !important;
        justify-content: center;
        align-items: center;
        &.show {
            right: 9%;
            transform: rotate(-360deg);
            transition: right 1.5s ease-in-out, transform 1.5s ease-in-out;
        }
        &.roll-out {
            transition: right 1.5s ease-in-out, transform 1.5s ease-in-out;
        }
        .close-x {
            color: white;
            font-family: sans-serif;
            font-weight: bold;
            line-height: 1;
            font-size: 30px;
        }
    }
}