.portfolio-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $slate;
    position: absolute;
    z-index: -1;
    width: 100vw;
    max-width: 100%;
    top: 780px; // was 620
    padding: 120px 0 50px 0;
    @media screen and (min-width: 340px) {
        top: 745px; // was 620
        padding: 120px 0 50px 0;
    }
    @media screen and (min-width: 380px) {
        top: 710px; // was 620
        padding: 110px 0 70px 0;

    }
    @media screen and (min-width: 420px) {
        top: 675px; // was 620
        padding: 110px 0 70px 0;

    }
    @media screen and (min-width: $phablet) {
        top: 640px; // was 620
        padding: 110px 0 70px 0;

    }
    @media screen and (min-width: $tablet-breakpoint) {
        top: 760px; // was 620
        padding: 170px 0 90px 0;

    }
    @media screen and (min-width: $desktop-breakpoint) {
        padding: 190px 0 90px 0;

    }
    @media screen and (min-width: 1140px) { // this one has to stay at 1140
        padding: 210px 0 90px 0;
    }
    @media screen and (min-width: 1300px) { // this one has to stay at 1300
        padding: 240px 0 90px 0;
    }
    .portfolio-wraper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        @media screen and (min-width: $small-tablet) {
            width: 80vw;
        }
        @media screen and (min-width: $hd-breakpoint) {
            width: 71vw;
        }
        .portfolio-item {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background: $white;
            height: 95vw;
            width: 95vw;
            margin: 1.25vw 2.5vw;
            @media screen and (min-width: $tablet-breakpoint) {
                height: 32.5vw;
                width: 32.5vw;
                margin: 2.5vw;
            }
            @media screen and (min-width: $hd-breakpoint) {
                height: 30.5vw;
                width: 30.5vw;
                margin: 2.5vw;
            }
            .portfolio-title {
                color: $blue;
            }
            img {
                width: 100%;
            }
        }
    }
}